#header{
	width: 100%;
	height: 75px;
	border-bottom: 1px solid #E8E8E8;
}
#header .header-img{
	height: 75px;
	width: 130px;
}
#header .header-img img{
	width: 130px;
}
#header .header-bar{
	height: 75px;
	line-height: 75px;
}
#header .header-bar li{
	float: left;
	margin-right: 20px;
	list-style: none;
	height: 75px;
}

#heahder .header-bar li.on{
	border-bottom: 2px solid #dd3137;
	color: #dd3137;
	box-sizing: border-box;
}
